.container {
  width: 100%;

  .home-search {
    margin: 24px 0 24px 48px;
    display: inline-block;
    position: relative;

    input {
      outline: 0;
      border-radius: 8px;
      border: 2px solid #ddd;
      padding: 16px 0 16px 40px;
    } 

    .search-icon {
      position: absolute;
      left: 12%;
      padding: 16px 0 0 0;
      font-size: 36px;
      color: #1976d2;
      transform: rotate(90deg);
    }
  }

  .home-page-categories-and-books {
    display: flex;
    align-items: center;

    .home-categories {
      margin-left: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .each-category {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 8px 0;
        cursor: pointer;
        width: 160px;

        &:hover {
          background-color: #f2f2f2;
          transition: ease-in-out 0.4s;
        }
      }
      
      .active {
        padding: 16px;
        font-weight: 800;
        background-color: #f2f2f2;
      }

      .inactive {
        padding: 16px;
        font-weight: 400;
        background-color: #ffffff;
      }
    }

    .home-books {
      flex: 2 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn-create {
        button {
          color: #1976d2;
          margin-top: 48px;
        }
      }
    }
  }
}